@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.build-button {
  padding: 0.8em 0.7em;
  cursor: pointer;
  line-height: 1;
  background: transparent;
  border-radius: 0.77em;
  border: none;
  transition: transform 0.12s cubic-bezier(0.4, 0, 0.2, 1);

  transform-style: preserve-3d;
  isolation: isolate;
}

.glass-effect {
  position: absolute;
  inset: -0.45em;
  border-radius: 1rem;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.1),
    transparent 30%,
    transparent 80%,
    rgba(255, 255, 255, 0.05)
  );
  z-index: -3;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3), 0 0 20px 1px rgb(0 0 0 / 20%);
  transition: box-shadow 0.12s ease;
}

.build-button::before {
  content: "";
  position: absolute;
  inset: -0.8em;
  background: radial-gradient(
      circle at top center,
      rgba(255, 225, 135, 0.5) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at top left,
      rgba(102, 245, 240, 0.5) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 134, 103, 0.5) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at bottom center,
      rgba(147, 112, 219, 0.5) 0%,
      transparent 80%
    );
  border-radius: inherit;
  filter: blur(0.3em);
  opacity: 0.8;
  z-index: -2;
  transition: all 0.12s ease;
}

.build-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#36363646, #24242446);
  border-radius: inherit;
  z-index: -1;
}

.button-text {
  position: relative;
  background: linear-gradient(#24242446, #36363646);
  padding: 0.85em 1.4em;
  border: none;
  border-radius: 999em;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
  transition: all 0.12s ease;
}

.build-button:hover {
  transform: translateY(-2px);
}

.build-button:hover .glass-effect {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3), 0 0 30px 2px rgb(0 0 0 / 30%);
}

.build-button:hover::before {
  opacity: 1;
  filter: blur(0.4em);
  transform: scale(1.05);
}

.build-button:hover .button-text {
  transform: scale(1.02);
}

.build-button:hover::before {
  opacity: 1;
}

.build-button:active {
  transform: translateY(3px) scale(0.95);
  transition: transform 0.08s cubic-bezier(0.4, 0, 0.2, 1);
}

.build-button:active .glass-effect {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0 0 15px 0 rgb(0 0 0 / 20%);
  opacity: 0.2;
  transition: all 0.3s ease;
}

.build-button:active::before {
  opacity: 1;
  filter: blur(1em);
  transform: scale(1.1);
  inset: -0.45em;
  transition: all 0.08s ease;
}

.build-button:active .button-text {
  transform: scale(0.92);
  background: linear-gradient(#1a1a1a46, #2a2a2a46);
  transition: all 0.08s ease;
}

.build-button:active {
  outline: none;
}
